<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android/tools">

    <!-- PERMISSÕES OBRIGATÓRIAS -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- NOVO: Permissão para usar Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AlarmReceiver"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlarmReceiver">

        <!-- 1. REGISTRO DO RECEIVER -->
        <receiver android:name=".AlarmReceiver" android:enabled="true" android:exported="true" />

        <!-- 2. REGISTRO DO SERVICE -->
        <service android:name=".AlarmService" android:exported="false" />

        <!-- 3. REGISTRO DA ACTIVITY DE PARADA -->
        <activity android:name=".AlarmStopActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- 4. REGISTRO DA MAIN ACTIVITY -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>